.flow {
  stroke-dasharray: 8;
  animation: dash 0.5s linear;
  animation-iteration-count: infinite;

}
.noflow{
  stroke-dasharray: 8;
}
@keyframes dash {
  to {
    stroke-dashoffset: -16;
  }
}
